@import './_variables.scss';

.error,
.error-404 {
	.wrapper-icon,
	.group {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.group {
		flex-direction: column;
		margin: 20px auto 0 auto;
		width: 100%;
		text-align: center;
	}
}
