@import './_variables.scss';

// default
.page {
	.anchor {
		color: $color-third;
	}

	.container {
		padding: 20px 0;

		@media #{$medium} {
			padding: 40px 0;
		}
	}

	&.help-center {
		.heading {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-secondary;
		}

		.copy-block {
			padding: 20px 0 0 0;

			@media #{$medium} {
				padding: 40px 0 0 0;
			}

			.header {
				margin-bottom: 10px;
			}

			.unordered-list {
				flex-direction: column;
			}
		}
	}

	&.our-story {
		.the-problem {
			background-color: $color-secondary;
			text-align: center;
			color: $color-white;
			padding: 40px 0;

			.header-two {
				margin-bottom: 40px;
				font-size: 4rem;
			}

			.header-three {
				line-height: 1.5;
			}
		}

		.row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.copy {
				align-items: center;
				text-align: center;
				padding: 0 20px;
				.header {
					line-height: 1.5;
				}

				@media #{$medium} {
					padding: 0 40px;
				}
			}

			&.btm {
				background-color: $color-third;
				color: $color-white;
			}
		}
		.column {
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media #{$medium} {
				display: inline-flex;
				width: 50%;
			}

			&.column-2.round {
				justify-content: flex-end;
			}
		}

		.wrapper-icon {
			display: flex;
			justify-content: center;
		}
	}

	&.leadership {
		.hero-wrapper.hero {
			background-position: top;
		}

		.template-intro {
			.paragraph {
				@extend .header-three;
			}
		}

		// leadership-tree
		.leadership-tree {
			.tier {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				padding: 0 0 20px 0;
				flex-direction: column;

				&.tier-4 .column {
					margin-bottom: 20px;

					@media #{$medium} {
						margin-bottom: 0;
					}
				}

				@media #{$large} {
					padding: 0 0 40px 0;
					flex-direction: row;
				}

				// component
				.box {
					background-color: $color-white;
					border: 1px solid $gray-500;
					border-radius: 5px;
					padding: 20px;
					overflow-wrap: break-word;
					width: 100%;
					margin: 10px;

					@media #{$large} {
						width: 245px;
						min-height: 265px;
					}

					.title {
						color: $color-secondary;
						margin: 15px 0;
					}

					.avatar {
						background-repeat: no-repeat;
						background-position: top;
						background-size: cover;
						height: 50px;
						width: 50px;
						border-radius: 50%;
					}
				}

				.column {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;

					@media #{$medium} {
						display: inline-flex;
						width: auto;
					}

					.cards {
						display: flex;
						flex-direction: column;
						width: 100%;

						@media #{$medium} {
							display: inline-flex;
							flex-direction: row;
						}
					}
				}
			}
		}

		.facilitators {
			.header {
				text-align: center;
				margin-bottom: 20px;
			}

			.colleges {
				display: flex;
				flex-direction: column;

				@media #{$medium} {
					flex-direction: row;
				}

				.college {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100px;

					@media #{$medium} {
						width: 20%;
						height: 200px;
						display: inline-flex;
					}

					&.usd {
						background-color: #f7dba2;
					}

					&.sdsu {
						background-color: #e59f67;
					}

					&.ucsd {
						background-color: #ce90a2;
					}

					&.ucsm {
						background-color: #d66c42;
					}

					&.sdccd {
						background-color: #bc597b;
					}

					.paragraph {
						color: $color-white;
						font-size: 24px;
						font-weight: 700;
					}
				}
			}
		}

		.block {
			background-color: #9f3f62;
			.copy {
				padding: 20px 0;
				color: $color-white;
				line-height: 1.75;

				@media #{$medium} {
					padding: 40px 0;
				}
			}
		}
	}

	&.contact-us {
		.splits {
			display: flex;
			flex-direction: column;

			@media #{$medium} {
				flex-direction: row;
			}

			.column {
				padding: 20px;

				@media #{$medium} {
					width: 50%;
					padding: 40px;
				}

				&.column-1 {
					background-color: $gray-800;

					.intro-copy {
						color: $color-white;

						@media #{$medium} {
							font-size: 5rem;
							line-height: 1;
						}
					}
					.contact-links {
						flex-direction: column;

						.list-item {
							display: flex;
							margin-top: 15px;
						}
					}
				}

				&.column-2 {
					.group {
						display: flex;
						flex-direction: row;
						align-items: center;
						margin: 0 0 20px 0;

						.header {
							margin: 0 0 0 20px;
						}
					}
				}
			}
		}
	}

	&.accomplishments {
		.numbers {
			display: flex;
			width: 100%;
			justify-content: space-evenly;
			font-size: 36px;
			flex-direction: column;

			@media #{$large} {
				flex-direction: row;
			}

			.block {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				overflow-wrap: break-word;

				.header {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					height: 300px;
				}

				@media #{$large} {
					display: inline-flex;
					width: 33%;
				}

				.callout {
					color: $color-white;
					font-size: 5rem;
					font-weight: 700;
				}

				&.block-1 {
					background-color: #bc597b;
				}

				&.block-2 {
					background-color: #e59f67;
				}

				&.block-3 {
					background-color: #f7dba2;
				}
			}
		}

		.copy-block {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px 0;

			@media #{$medium} {
				padding: 40px 0;
			}

			.section-title {
				text-align: center;
				.call-out {
					color: $color-secondary;
				}
			}

			.unordered-list {
				display: flex;
				flex-direction: column;
				width: 100%;

				@media #{$medium} {
					width: 50%;
					display: inline-flex;
					padding: 20px 0;
				}

				.list-item {
					list-style-type: disc;
					padding: 10px 0;
				}
			}
		}

		.bottom-block {
			background-color: $color-third;
			color: $color-white;
			padding: 20px 0;

			@media #{$medium} {
				padding: 40px 0;
			}

			.header {
				line-height: 2;
			}
		}
	}
}
