@import './_variables.scss';

// default
.page {
	.container {
		padding: 20px 0;

		@media #{$medium} {
			padding: 40px 0;
		}
	}
}

// admin
// pages index
.pages {
	.wrapper {
		background-color: $color-white;
		padding: 20px;

		@media #{$medium} {
			padding: 40px;
		}

		.heading {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.add-new {
			margin: 1rem 0px;
			display: flex;
			width: 150px;
		}

		.page-list {
			border-bottom: 1px solid $gray-200;

			.options {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.edit,
				.delete {
					width: 100px;
				}
			}
		}
	}
}
