@import './_variables.scss';

// default
.page {
	// for fixed navigation
	@media #{$medium} {
		padding-top: 6.5rem;
	}

	.anchor {
		color: $color-third;
	}

	.container {
		padding: 20px 0;

		@media #{$medium} {
			padding: 40px 0;
		}
	}

	&.help-center {
		.heading {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-secondary;
		}

		.copy-block {
			padding: 20px 0 0 0;

			@media #{$medium} {
				padding: 40px 0 0 0;
			}

			.header {
				margin-bottom: 10px;
			}

			.unordered-list {
				flex-direction: column;
			}
		}
	}

	&.our-story {
		.the-problem {
			background-color: $color-secondary;
			text-align: center;
			color: $color-white;
			padding: 40px 0;

			.header-two {
				margin-bottom: 40px;
				font-size: 4rem;
			}

			.header-three {
				line-height: 1.5;
			}
		}

		.row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.copy {
				align-items: center;
				text-align: center;
				padding: 0 20px;
				.header {
					line-height: 1.5;
				}

				@media #{$medium} {
					padding: 0 40px;
				}
			}

			&.btm {
				background-color: $color-third;
				color: $color-white;
			}
		}
		.column {
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media #{$medium} {
				display: inline-flex;
				width: 50%;
			}

			&.column-2.round {
				justify-content: flex-end;
			}
		}

		.wrapper-icon {
			display: flex;
			justify-content: center;
		}
	}

	&.leadership {
		.hero-wrapper.hero {
			background-position: top;
		}

		.template-intro {
			.paragraph {
				@extend .header-three;
			}
		}

		// leadership-tree
		.leadership-tree {
			.tier {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				padding: 0 0 20px 0;
				flex-direction: column;

				&.tier-4 .column {
					margin-bottom: 20px;

					@media #{$medium} {
						margin-bottom: 0;
					}
				}

				@media #{$large} {
					padding: 0 0 40px 0;
					flex-direction: row;
				}

				// component
				.box {
					background-color: $color-white;
					border: 1px solid $gray-500;
					border-radius: 5px;
					padding: 20px;
					overflow-wrap: break-word;
					width: 100%;
					margin: 10px;

					@media #{$large} {
						width: 245px;
						min-height: 265px;
					}

					.title {
						color: $color-secondary;
						margin: 15px 0;
					}

					.avatar {
						background-repeat: no-repeat;
						background-position: top;
						background-size: cover;
						height: 50px;
						width: 50px;
						border-radius: 50%;
					}
				}

				.column {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;

					@media #{$medium} {
						display: inline-flex;
						width: auto;
					}

					.cards {
						display: flex;
						flex-direction: column;
						width: 100%;

						@media #{$medium} {
							display: inline-flex;
							flex-direction: row;
						}
					}
				}
			}
		}

		.facilitators {
			.header {
				text-align: center;
				margin-bottom: 20px;
			}

			.colleges {
				display: flex;
				flex-direction: column;

				@media #{$medium} {
					flex-direction: row;
				}

				.college {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100px;

					@media #{$medium} {
						width: 20%;
						height: 200px;
						display: inline-flex;
					}

					&.usd {
						background-color: #f7dba2;
					}

					&.sdsu {
						background-color: #e59f67;
					}

					&.ucsd {
						background-color: #ce90a2;
					}

					&.ucsm {
						background-color: #d66c42;
					}

					&.sdccd {
						background-color: #bc597b;
					}

					.paragraph {
						color: $color-white;
						font-size: 24px;
						font-weight: 700;
					}
				}
			}
		}

		.block {
			background-color: #9f3f62;
			.copy {
				padding: 20px 0;
				color: $color-white;
				line-height: 1.75;

				@media #{$medium} {
					padding: 40px 0;
				}
			}
		}
	}

	&.contact-us {
		.splits {
			display: flex;
			flex-direction: column;

			@media #{$medium} {
				flex-direction: row;
			}

			.column {
				padding: 20px;

				@media #{$medium} {
					width: 50%;
					padding: 40px;
				}

				&.column-1 {
					background-color: $gray-800;

					.intro-copy {
						color: $color-white;

						@media #{$medium} {
							font-size: 5rem;
							line-height: 1;
						}
					}
					.contact-links {
						flex-direction: column;

						.list-item {
							display: flex;
							margin-top: 15px;
						}
					}
				}

				&.column-2 {
					.group {
						display: flex;
						flex-direction: row;
						align-items: center;
						margin: 0 0 20px 0;

						.header {
							margin: 0 0 0 20px;
						}
					}
				}
			}
		}
	}

	&.accomplishments {
		.numbers {
			display: flex;
			width: 100%;
			justify-content: space-evenly;
			font-size: 36px;
			flex-direction: column;

			@media #{$large} {
				flex-direction: row;
			}

			.block {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				overflow-wrap: break-word;

				.header {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					height: 300px;
				}

				@media #{$large} {
					display: inline-flex;
					width: 33.3%;
				}

				.callout {
					color: $color-white;
					font-size: 5rem;
					font-weight: 700;
				}

				&.block-1 {
					background-color: #bc597b;
				}

				&.block-2 {
					background-color: #e59f67;
				}

				&.block-3 {
					background-color: #f7dba2;
				}
			}
		}

		.copy-block {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px 0;

			@media #{$medium} {
				padding: 40px 0;
			}

			.section-title {
				text-align: center;
				.call-out {
					color: $color-secondary;
				}
			}

			.lists {
				display: flex;
				flex-direction: column;

				@media #{$medium} {
					flex-direction: row;
				}

				.unordered-list {
					display: flex;
					flex-direction: column;
					width: 100%;
					margin: 0 20px;

					@media #{$medium} {
						width: 50%;
						display: inline-flex;
						padding: 20px 0;
					}

					.list-item {
						list-style-type: disc;
						padding: 10px 0;
					}
				}
			}
		}

		.bottom-block {
			background-color: $color-third;
			color: $color-white;
			padding: 20px 0;

			@media #{$medium} {
				padding: 40px 0;
			}

			.header {
				line-height: 2;
			}
		}
	}

	&.parents {
		.quotes {
			margin-bottom: 20px;

			@media #{$medium} {
				margin-bottom: 40px;
			}

			.row {
				display: flex;
				flex-direction: column;
				padding: 20px 0;
				min-height: 300px;

				@media #{$medium} {
					flex-direction: row;
					padding: 40px 0;
					background-image: url('https://res.cloudinary.com/dtjvswb7v/image/upload/v1709784496/speech-bubble_jdhmyt.png');
					background-repeat: no-repeat;
					background-position: right;
					background-size: contain;
					height: 300px;
				}

				&.row-2 {
					background-color: $color-third;
					color: $color-white;
					justify-content: center;

					@media #{$medium} {
						margin: 40px 0;
					}
				}

				.block {
					&.block-name {
						padding: 20px 0 0 0;
					}
				}
			}
		}

		.btm-row {
			display: flex;
			flex-direction: column;

			@media #{$medium} {
				flex-direction: row;
			}

			.copy {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 0 15px 15px 15px;

				.header {
					margin-top: 20px;
				}

				@media #{$medium} {
					width: 50%;
					display: inline-flex;
				}
			}

			.image {
				display: flex;

				@media #{$medium} {
					width: 50%;
					display: inline-flex;
				}
			}
		}
	}

	&.students {
		.row {
			display: flex;
			flex-direction: column;

			@media #{$medium} {
				flex-direction: row;
			}

			.block {
				@media #{$medium} {
					width: 50%;
				}

				&.block-copy {
					color: $color-white;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 400px;

					@media #{$medium} {
						height: 500px;
						display: flex;
						line-height: 2;
					}

					.header {
						text-align: center;
						font-size: 3rem;

						@media #{$medium} {
							line-height: 2;
						}
					}
				}

				&.block-image {
					display: flex;

					@media #{$medium} {
						display: flex;
					}
				}
			}

			&.row-1 {
				.block-copy {
					background-color: #bc597b;
				}
			}

			&.row-2 {
				.block-copy {
					background-color: #e59f67;
					order: 1;

					@media #{$medium} {
						order: 2;
					}
				}

				.block-image {
					order: 2;

					@media #{$medium} {
						order: 1;
					}
				}
			}

			&.row-3 {
				.block-copy {
					background-color: #f7dba2;
				}
			}
		}
	}

	&.donate {
		.pillars {
			display: flex;
			flex-direction: column;

			@media #{$medium} {
				flex-direction: row;
			}

			.pillar {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;

				@media #{$medium} {
					display: inline-flex;
					width: 33.3%;
				}

				.badge {
					border-radius: 50%;
					width: 150px;
					height: 150px;
					display: flex;
					justify-content: center;
					align-items: center;

					.img {
						width: 50%;
					}
				}

				&.pillar-1 {
					.badge {
						background-color: $color-secondary;
					}

					.copy {
						color: $color-secondary;
					}
				}

				&.pillar-2 {
					.badge {
						background-color: $color-third;
					}

					.copy {
						color: $color-third;
					}
				}

				&.pillar-3 {
					.badge {
						background-color: rgb(206, 144, 162);
					}

					.copy {
						color: rgb(206, 144, 162);
					}
				}
			}
		}

		.build-the-next-generation {
			text-align: center;
		}

		.columns {
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: center;

			@media #{$medium} {
				flex-direction: row;
			}

			.column {
				display: flex;
				flex-direction: column;
				align-items: center;

				@media #{$medium} {
					width: 50%;
					display: inline-flex;
				}

				.paragraph {
					margin: 15px 0 0 0;

					&.red,
					.callout {
						color: $color-secondary;
					}

					.callout {
						font-weight: 700;
						display: inline-flex;
					}
				}

				.image-icon {
					width: 100px;
				}

				.image-content {
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					height: 500px;
					width: 100%;
				}

				&.col-1 {
					padding: 0 20px;

					@media #{$medium} {
						padding: 0 40px;
					}
				}
			}
		}
		.header {
			margin-top: 15px;

			&.red {
				color: $color-secondary;
			}

			&.orange {
				color: $color-third;
			}

			&.pale {
				color: #ce90a2;
			}
		}
	}

	&.summer-camps {
		.header-two {
			text-align: center;
			color: $color-secondary;
		}
		.row {
			display: flex;
			flex-direction: column;

			@media #{$medium} {
				flex-direction: row;
			}

			.card {
				display: flex;
				width: 100%;
				flex-direction: column;
				align-items: center;
				padding: 20px;
				opacity: 0.5;

				&:hover {
					box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
					opacity: 1;
				}

				@media #{$medium} {
					width: 50%;
				}

				.wrapper-button {
					width: 250px;
				}
			}
		}
	}

	&.summer-of-stem {
		.intro-join-today {
			.wrapper-btn {
				display: flex;
				justify-content: center;
				align-items: center;

				@media #{$medium} {
					.button {
						width: 250px;
					}
				}
			}
		}

		.program-dates {
			background-color: #e49f67;
		}
	}

	&.level-up-at-mesa-college {
		.program-dates {
			background-color: rgb(206, 144, 162);
		}
	}

	&.level-up-city-college {
		.program-dates {
			background-color: rgb(206, 144, 162);
		}
	}

	&.north-county-and-expansion {
		.program-dates {
			background-color: rgb(206, 144, 162);
		}

		.sub-header {
			color: $color-secondary;
			text-align: center;
			margin: 20px 0;
		}
	}

	&.scholars-program {
		.program-dates {
			background-color: rgb(206, 144, 162);
		}

		.sub-header {
			color: $color-secondary;
			text-align: center;
			margin: 20px 0;
		}

		.columns {
			display: flex;
			flex-direction: column;

			@media #{$medium} {
				flex-direction: row;
			}

			.container {
				display: flex;
				.col {
					display: flex;
					flex-direction: column;

					@media #{$medium} {
						display: inline-flex;
						width: 50%;
					}

					.paragraph,
					.img {
						margin: 20px 0;
						border-radius: 10px;
					}
				}
			}
		}

		.advocacy-and-impact {
			display: flex;
			flex-direction: column;

			@media #{$medium} {
				flex-direction: row;
			}

			.box {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				height: 200px;
				flex-direction: column;

				@media #{$medium} {
					display: inline-flex;
					width: 25%;
				}

				&.health-and-well-being,
				&.social {
					background-color: $color-secondary;
				}

				&.environment,
				&.equity {
					background-color: $color-third;
				}

				.header-five {
					text-align: center;
					color: $color-white;
				}
			}
		}

		.program-dates {
			.container {
				.images {
					display: none;
				}

				.information {
					display: flex;
					width: 100%;

					.button {
						color: #333;
					}
				}
			}
		}
	}

	&.after-school-enrichment {
		.things-to-know {
			.wrapper-buttons {
				display: flex;
				justify-content: center;
				align-items: center;

				.button {
					width: 250px;
				}
			}
		}
	}
}
