@import './_variables.scss';

// selected category
.selected-category {
	.category {
		display: inline-flex;
		padding: 5px;
		background-color: $gray-200;
		margin: 0 5px;

		.item {
			display: flex;
			margin-block-start: 0;
			margin-block-end: 0;
			margin-inline-start: 0;
			margin-inline-end: 0;
		}

		.btn {
			margin-left: 15px;
			background-color: $color-white;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			text-align: center;
			color: $color-danger;
			align-items: center;
			justify-content: center;
		}
	}
}
